* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

header,
.video,
.main,
.footer {
  max-width: 1100px;
  margin: 0 auto;
}

/* header styling starts from here */

header {
  width: 100%;
  /* margin: auto; */
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}

header p a {
  color: aquamarine;
  text-decoration: underline;
  font-size: 1rem;
}

/* Video styling starts from here */

.video {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.video video {
  max-width: 100%;
  height: auto;
}

/* main styling starts from here */

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text-main {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-main h2 {
  font-size: 42px;
  font-weight: 300;
}

.text-main p {
  font-size: 21px;
  color: grey;
}

.image-main {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.image-main img {
  max-width: 100%;
  margin: auto;
  height: auto;
  display: block;
}

/* footer styling starts from here */

.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-footer {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text-footer h2 {
  font-size: 42px;
}

.text-footer p a {
  color: aquamarine;
}

.text-footer span {
  margin: 1rem;
  display: block;
  text-align: right;
}
