* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    color: white;
}

header {
    width: 60%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin-bottom: 2rem;
}

header p a {
    color: aquamarine;
    text-decoration: underline;
}



